.contactinfo{
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    background: rgba(250, 249, 248, 0.2);
    color: #aaa;
}
.contactinfo .box{
    padding: 1.5rem;
    border: 1px solid #aaa;
    display: flex;align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contactinfo .box span{
    color: #ec9f68;
    padding: 10px 0;
}