@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
}

.logo span {
    color: #6D3705;
}

.menubtn img {
    width: 2rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.0rem;
    color: #333;
}

.btn {
    margin: 0 .5rem;
    color: black;
}

.btn:hover {
    background: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
@media (max-width: 769px) {
    .home{
        height: 25rem;
    }
    .home header{
        padding: 10px;
    }
    header .btn{
        display: none;
    }
    header .menubtn{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 10%; left: 0; right: 0;
        background: #fff;
        padding: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        color: #202022;
        font-size: 18px;
        margin: 10px 0;
    }
    header .navbar a::before{
        display: none;
    }
}