body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f8f9fa;
}
